<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tonto.wx.dao.UserDao" >
  
  <sql id="Base_Column_List" >
    id, user_name AS userName, password, nick_name AS nickName, role_id AS roleId
  </sql>
  <select id="getUser" resultType="com.tonto.wx.model.User" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_name=#{username,jdbcType=VARCHAR}
  </select>	
</mapper>